/*  */
* {
    padding: 0px;
    margin: 0px;

}



.navbar {
    background-color: rgba(67, 156, 181, 0.16);
    border: 2px solid;
    display: flex;
    justify-content: space-around;
}

.logo {
    padding: 1.2%;

}
.nav_container{
    padding: 1.2%;

}

.nav_container a {
    text-decoration: none;
    padding: 1.2%;

    font-size: 2rem;
    flex-wrap: wrap;
    text-transform: capitalize;

    padding: 10px 18px;
}
.main_container{
    background-image: url("image/images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: capitalize;
    text-align: center;
    height: 80vh;
    
}
